@font-face {
    font-family: 'Franklin Gothic';
    src: url("../fonts/79b725e00ebb1fbe198589946c99b048.eot?#iefix") format("embedded-opentype"), url("../fonts/79b725e00ebb1fbe198589946c99b048.woff2") format("woff2"), url("../fonts/79b725e00ebb1fbe198589946c99b048.woff") format("woff"), url("../fonts/79b725e00ebb1fbe198589946c99b048.ttf") format("truetype"), url("../fonts/79b725e00ebb1fbe198589946c99b048.svg#Franklin Gothic") format("svg");
}
body {
    font-family: 'Franklin Gothic',helvetica,sans-serif
}

hr {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
.search-content-a {
    border: none;
    border-radius: 0 !important;
}
.search-contents > a {
    text-decoration: none;

}
.search-content-input{
    border: none;
    border-radius: 0 !important;  
    outline: none !important;
}
.navbar {
    padding: 0 !important;
}
.search-input > a {
    font-size: 28px !important;
}
.super-nav-menu> .nav-item > a {
    color: #4c4c4c !important;
    font-size: 0.9em;
    font-family: 'Franklin Gothic',helvetica,sans-serif;
}
.super-nav-menu> .nav-item > a:hover{
    text-decoration: underline !important;
    color: black !important;
}
.nav-link {
    padding: 10px !important;
} 
#nav-toggler {
    height: 42px;
    border-radius: unset;
    font-size: 0.9em;
    font-family: 'Franklin Gothic',helvetica,sans-serif;
    outline: none;
}
#nav-toggler:hover {
    text-decoration: underline;
}

p, nav, h2 {
    margin-bottom: 0 !important;
}

#burger-btn {
    border-radius: 0 !important;
    border: none;
    outline: 0 !important;
}
#main-menu-search-bar-wrapper {
    top: -300px;
    transition: all .5s;
}
.search-burger-hover:hover{
    color: blue
}
.main-nav {
    height: 80px;
    background-color: #fff !important;
    border-bottom: 5px solid #ececec;
    text-transform: uppercase;
}

.main-menu-fixed {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
    z-index: 999;
}
#main-nav-menu > ul li a{
    font-size: 0.9em;
    font-family: 'Franklin Gothic',helvetica,sans-serif;
    color: #4c4c4c !important;
}
#main-nav-menu > ul li a:hover{
    color: #101010 !important;
    text-decoration: underline;
}

.header-navbar-brand {
    font-size: 40px;
    color: #00377b !important;
}
.header-navbar-brand > a:hover{
    color: rgba(226, 83, 0, 0.993);
}

.nav-right{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    background-color: rgba(3, 8, 20, 0.7);
    height: 100%;
    width: 100%;
}

.nav-right.visible {
    visibility: visible;
    opacity: 1;
}

.nav-right.visible .nav-right-inner {
    right: 0;
}

.nav-right-inner {
    position: absolute;
    right: -300px;
    top: 0;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    width: 300px;
    background: #fff;
    transition: all .2s;
}

.section-right{
    height: 2.625em;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
}
.section-right > h2 {
    width: 140px;
    height: 20px;
    color: #101010;
    font: normal 500 1.8em/.9375 franklin-gothic-urw,helvetica,sans-serif;
    font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;

}
.push-nav .push-nav-main {
    list-style: none;
    margin: 0;
    padding: 0;
}
.push-nav .push-nav-main li > .burger-collapse-a {
    color: #4c4c4c;
    font-weight: 700;
}
.push-nav > .push-nav-main > li > a{
    color: #4c4c4c;
    text-transform: uppercase;
    font: normal 500 1em/.9375 franklin-gothic-urw,helvetica,sans-serif;
}
.list-group-item {
    border-radius: 0 !important;
    padding: 5px;
}
.burger-nav-btn{
    background-color: #fafafa;
    font-size: 28px;
    border: 0;
}
.right-navbar-collapse > ul > li > a{
    text-transform: uppercase;
    color: #4c4c4c !important;
    font-size: .874em;
    font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
}
.right-navbar-collapse > ul > li > a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 1030px){
    #hide {
        display: none;
    }
    .main-nav{
        height: auto;
    }
    #navbarNav {
        display: none;
    }

}

@media (max-width: 991px){
    .hide-search {
        display: block !important;
    }
    .flex-nav{
        width: 100%;
        display: flex;
        justify-content:space-between;
    }
    .search-burger-contents {
        display: flex;

    }
    #nav-toggler {
        height: auto;
        border-radius: unset;
        font-size: 28px;
        border: none;
        color: black !important;
        background-color: #fff !important;
    }
}



/* footer */
.site-footer {
    background-color: #fff;
    margin-bottom: 0;
    border-top: 5px solid #ececec;
    padding: 0 0 3.125em;
}
.site-footer .footer-up {
    padding: .9375em;
}

.footer-up {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4c4c4c;
}
.language > p {
    display: inline-block;
    margin-left: .5em;
}
.language .langs:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #1c1c1c;
}
.language :first-child {
    font-size: .75em;
}
.language .langs {
    color: #4c4c4c;
    font: normal 700 .775em/1 franklin-gothic-urw,helvetica,sans-serif;
    padding: 0.4375em;
}
.language :first-child::after{
    content: '';
    border: 1px solid #d8d8d8;
    margin-left: .5em;
    /* margin-right: 2px; */
}

.social-links {
    flex-grow: 2;
    margin-left: 5px;
}

.social-links a{
    text-align: center;
	float: left;
	width: 45px;
	height: 45px;
	border: 1px solid #909090;
	border-radius: 100%;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
} 
.social-links a i{
	font-size: 30px;
    line-height: 38px;
	color: white;

}
.fa-facebook:before{
    color: white;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-name > h3 {
    color: #003d79;
    margin:  0 !important;
}

.hr-footer-up {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 10px !important;
}


.hr-footer{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 10px !important;
}


.footer-links ul {
    display: flex;
    padding: 20px 15px !important;
    margin-bottom:  0 !important;
}
.footer-links ul li {
    list-style: none;
    padding: 0 20px 15px 0;
} 
.footer-links a {
    color: black;
    font-size: 1em;
    font-weight: 900;
}

.footer-legal ul {
    display: flex;
    padding: 0 15px !important;
}
.footer-legal ul li {
    list-style: none;
    padding: 0px 20px 15px 0px;
} 
.footer-legal a {
    color: gray;
    font-size: 0.9em;
    font-weight: 900;
}


@media screen and (max-width: 699px){
    .footer-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .footer-up div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* .section-1 ul {
        display: flex;
        flex-wrap: wrap;
    } */
}

@media screen and (max-width: 371px){
    .social-links a{
        width: 40px ;
        height: 40px ;
    }
}

@media screen and (max-width: 529px){
    .footer-links ul {
        flex-wrap: wrap;
    }
}



































.program-header>* {
    margin-bottom: 0.6em;
}
.program-description{
    font: normal 200 0.8955em/1.5 PT Serif,Times,serif;
    color: #fff;
    position: relative;
    padding: 0 0 2em;
    /* text-align: center; */
    text-align: -webkit-center;
    /* width: 50% */
}
.program-description:after{
    clear: both;
    content: "";
    display: table;
}
.program-description > blockquote > p{
    width: 52%;
    text-align: center;
}
.program-header .program-cta-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 0;
    border-radius: 1.66667em;
    color: #101010;
    cursor: pointer;
    display: inline-block;
    font-family: franklin-gothic-urw,helvetica,sans-serif;
    font-size: .8em;
    font-weight: 900;
    padding: .75em 1.5625em;
    position: relative;
    text-transform: uppercase;
    transition: background 125ms linear;
    vertical-align: middle;
    margin: 0 auto 2em;
}
.program-header .program-cta-button:hover {
    background-color: #101010;
    color: #fff;
    text-decoration: none;
}
.program-header .program-cta-button-container {
    display: -ms-flexbox;
    display: flex;
}
.program-header {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.topic-spotlight {
    background-color: #030814;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}









.program-header .topic-spotlight {
    padding: 0;
}
.program-header>:last-child, .tax-series .program-header {
    margin-bottom: 0;
}
.program-header>* {
    margin-bottom: 1em;
}
.topic-spotlight {
    background-color: #030814;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.topic-spotlight {
    padding: .9375rem;
    max-width: 120rem;
    margin: 0 auto;
}
.topic-spotlight .spotlight-content {
    display: flex;
    justify-content: space-between;
}

/* div{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
} */
.topic-spotlight .archive-view.spotlight-primary {
    display: block;
    /* position: relative; */
}
.archive-view {
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.3;
}
article{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.topic-spotlight .archive-view.spotlight-primary .image-wrapper{
    padding-bottom: 56.25%;
}
.topic-spotlight .archive-view.spotlight-primary .image-wrapper{
    height: 0;
    overflow: hidden;
    /* position: relative; */
    width: 100%;
}
.topic-spotlight .archive-view.spotlight-primary .title {
    font: normal 700 2.375em/1.10526 franklin-gothic-urw-cond,helvetica,sans-serif;
    margin-bottom: .42105em;
}
.topic-spotlight .archive-view.spotlight-primary .title a {
    color: #fff;
}

.archive-view .title a {
    color: #fff;
}
.topic-spotlight .archive-view.spotlight-primary .meta {
    font: normal 400 .875em/1.39286 franklin-gothic-urw,helvetica,sans-serif;
    color: #ececec;
    color: #fff;
}
.archive-view .meta:after{
    clear: both;
    content: "";
    display: table;
}
.topic-spotlight .spotlight-secondary-wrapper>* {
    margin-bottom: 0.3em;
}
.archive-view {
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.3;
}
.topic-spotlight .spotlight-secondary-wrapper>:last-child {
    margin-bottom: 0;
}
.topic-spotlight .spotlight-secondary-wrapper .archive-view .meta {
    font: normal 400 .875em/1.39286 franklin-gothic-urw,helvetica,sans-serif;
    color: #ececec;
}
.archive-view{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}

figure{
    margin-right: 20px;
}
.a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.program-header .title-area {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2.5em;
}
.program-header>* {
    margin-bottom: 1em;
}
.program-header > div > h1 {
    font: normal 700 1.875em/1 franklin-gothic-urw-cond,helvetica,sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.page-header nav, .program-header nav {
    font: normal 700 1em/1 franklin-gothic-urw,helvetica,sans-serif;
    display: inline-block;
}
.dl-menuwrapper {
    color: #101010;
    overflow: visible;
    position: relative;
    text-align: left;
    z-index: 4;
}
.btn-light, .dl-trigger-sort {
    font: normal 500 .875em/1 franklin-gothic-urw,helvetica,sans-serif;
    border-color: #030814;
    border-left: 1px solid rgb(255, 255, 255);
    border-radius: .21429em;
    color: #fff;
    background-color: rgba(3, 8, 20, 0.7);
    cursor: pointer;
    height: 2.5em;
    margin-left: 1.07143em;
    padding: 0 1em;
    transition: background .25s ease-in-out;
}

.dl-menu, .dl-menu-sort {
    border: 1px solid #d8d8d8;
    border-radius: .1875em;
    box-shadow: 0 0.125em 0.1875em 0 rgba(0,0,0,.18);
    margin-top: .3125em;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    -ms-transform: translateY(.9375em);
    transform: translateY(.9375em);
    transition: opacity .25s ease,transform .25s ease;
    width: 15em;
}
.dl-menuwrapper li a {
    font: normal 500 .875em/1 franklin-gothic-urw,helvetica,sans-serif;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #101010;
    display: block;
    outline: none;
    padding: 1.07143em 1.42857em;
    position: relative;
    text-transform: uppercase;
}
.dl-menu-sort li a, .dl-menu li a {
    background-color: #fff;
    transition: opacity .25s ease;
}
.dl-menu-sort .menu-item-has-children>a:after, .dl-menu .menu-item-has-children>a:after {
    border-bottom: .3334em solid transparent;
    border-left: .3334em solid #101010;
    border-top: .3334em solid transparent;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 1em;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
}
.dl-submenu {
    left: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: opacity .25s ease,transform .25s ease;
    width: 100%;
}
.dl-menu-sort li, .dl-menu li {
    overflow: hidden;
}
.dl-back {
    position: relative;
}
.dl-menuwrapper li a {
    font: normal 500 .875em/1 franklin-gothic-urw,helvetica,sans-serif;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #101010;
    display: block;
    outline: none;
    padding: 1.07143em 1.42857em;
    position: relative;
    text-transform: uppercase;
}
.program-header>* {
    margin-bottom: 1em;
}
.under-title-area {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
.under-title-area .twitter-username {
    margin-right: 1.375em;
}
.under-title-area a {
    font: normal 700 .799em/1.42857 franklin-gothic-urw,helvetica,sans-serif;
    color: #fff;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
em {
    font-style: italic;
}
h2{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.esas{
    margin-top: 4.25em;
}
.h2{
    /* font: normal 700 2.0625em/1 franklin-gothic-urw-cond,helvetica,sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 900;
    background-color: transparent;
    border-bottom: 4px solid #0d73d6;
    color: #0d73d6;
    display: inline-block;
    letter-spacing: .001em;
    margin: 0 1.25em;
    padding: 0 0 .3125em;
    text-transform: uppercase;
}
.h2 > a {
    color: inherit;
    /* font-weight: 900; */
    text-decoration: none;
}








h4{
    font-size: 1.355em !important;
}
/* h4{
    font-weight: bolder !important;
} */








.a{
    font-family: Comic Sans, Comic Sans MS, cursive !important;
    font-weight: 900;
}
.module-secondary.feature-rich-text .module-content {
    -ms-flex-direction: column;
    flex-direction: column;
}
.module-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.module-content{
    padding: .9375rem;
    max-width: 120rem;
    margin: 0 auto;
}
.module-secondary .module-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-weight: 600;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.module-secondary .module-bottom, .module-secondary .module-top {
    font: normal 400 1em/1.5 PT Serif,Times,serif;
}
.module-secondary .module-top>.rich-text-image {
    margin: 0 auto 2em;
    width: 50%;
}
.module-secondary.feature-rich-text .image-wrapper-portrait {
    display:block;
}
.module-secondary.feature-rich-text .image-wrapper-portrait span {
    height: 100%;
    width: 50%;
}
.module-secondary.feature-rich-text .image-wrapper-portrait img{
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: 0 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.module-secondary .module-bottom {
    -moz-column-count: 2;
    column-count: 2;
}
.module-secondary .module-bottom, .module-secondary .module-top {
    font: normal 400 1em/1.5 PT Serif,Times,serif;
}
.post-body {
    clear: both;
    color: #101010;
    font-size: 1.125em;
    line-height: 1.667;
    overflow-wrap: break-word;
}
.module-secondary .module-bottom {
    -moz-column-count: 2;
    column-count: 2;
}
.module-secondary .module-bottom, .module-secondary .module-top {
    font: normal 400 1em/1.5 PT Serif,Times,serif;
}
.post-body {
    clear: both;
    color: #101010;
    font-size: 1.125em;
    line-height: 1.667;
    overflow-wrap: break-word;
}
.post-body p>a{
    border-bottom: 1px dotted #dc2a2a;
    color: #dc2a2a;
}
#Resilience{
    font-size: 1.5em;
}
.col-xl-auto{
    position: none !important;
}






















































.page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 3.125em;
}
.entry-header, .page-header {
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 3.125em;
    text-align: center;
}

.page-header .page-header-inner>* {
    margin-bottom: .5em;
}

.dl-menuwrapper {
    color: #101010;
    overflow: visible;
    position: relative;
    text-align: left;
    z-index: 4;
}
.inverse .dl-trigger, .inverse .dl-trigger-sort {
    border: 1px solid #d8d8d8;
    color: #4c4c4c;
}
.dl-trigger, .dl-trigger-sort {
    font: normal 500 .875em/1 franklin-gothic-urw,helvetica,sans-serif;
    border-left: 1px solid #fff;
    border-radius: .21429em;
    color: #fff;
    cursor: pointer;
    height: 2.5em;
    margin-left: 1.07143em;
    padding: 0 1em;
    transition: background .25s ease-in-out;
}
.dl-trigger-sort span, .dl-trigger span {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
}
#btn--{
    /* width: 26%; */
    font: normal 500 .875em/1 franklin-gothic-urw,helvetica,sans-serif;
    border-left: 1px solid #fff;
    border-radius: .21429em;
    color: #fff;
    cursor: pointer;
    height: 2.5em;
    margin-left: 1.07143em;
    padding: 0 1em;
    transition: background .25s ease-in-out;
    background-color: white;

    border: 1px solid #d8d8d8;
    color: #4c4c4c;
}
#btn--:hover{
    color: white;
    background-color: black;
}
