@font-face {
    font-family: 'Franklin Gothic';
    src: url("../fonts/79b725e00ebb1fbe198589946c99b048.eot?#iefix") format("embedded-opentype"), url("../fonts/79b725e00ebb1fbe198589946c99b048.woff2") format("woff2"), url("../fonts/79b725e00ebb1fbe198589946c99b048.woff") format("woff"), url("../fonts/79b725e00ebb1fbe198589946c99b048.ttf") format("truetype"), url("../fonts/79b725e00ebb1fbe198589946c99b048.svg#Franklin Gothic") format("svg");
}
body {
    font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
}

hr {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
.search-content-a {
    border: none;
    border-radius: 0 !important;
}
.search-contents > a {
    text-decoration: none;
}
.search-content-input{
    border: none;
    border-radius: 0 !important;  
    outline: none !important;
}
.navbar {
    padding: 0 !important;
}
.search-input > a {
    font-size: 28px !important;
}
.nav > .nav-item > a {
    color: #4c4c4c !important;
    font-size: 0.9em;
    font-weight: 700;
}
.nav > .nav-item > a:hover{
    text-decoration: underline !important;
    color: black !important;
}
.nav-link {
    padding: 10px !important;
} 
#nav-toggler {
    height: 42px;
    border-radius: unset;
    font-size: 15px;
    outline: none;
}
#nav-toggler:hover {
    text-decoration: underline;
}
/* .alert {
    border-radius: unset;
    background-color: #ffa626;
    color: #000;
    font-size: .5rem;
    font-weight: 400;
    padding: 20px !important;
    line-height: 1.2;
    padding: .9375em;
    font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
} */
/* .navbar-alert > p > strong > a{
    color: black;
    font-size: 16px;
    font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif;
} */
/* .navbar-alert > p > strong > a:hover{
    color: red;
} */
p, nav, h2 {
    margin-bottom: 0 !important;
}
/* .text:hover{
    color: green;
} */
#burger-btn {
    border-radius: 0 !important;
    border: none;
    outline: 0 !important;
}
#main-menu-search-bar-wrapper {
    top: -300px;
    transition: all .5s;
}
.search-burger-hover:hover{
    color: blue
}
.main-nav {
    height: 80px;
    background-color: #fff !important;
    border-bottom: 5px solid #ececec;
    text-transform: uppercase;
}

.main-menu-fixed {
    position: fixed;
    top: 0 !important;
    left: 0;
    width: 100%;
}

.header-navbar-brand > h2{
    font-size: 40px;
    color: #00377b !important;
}
.header-navbar-brand > a > h2:hover{
    color: rgba(226, 83, 0, 0.993);
}

.nav-right{
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    background-color: rgba(3, 8, 20, 0.7);
    height: 100%;
    width: 100%;
}

.nav-right.visible {
    visibility: visible;
    opacity: 1;
}

.nav-right.visible .nav-right-inner {
    right: 0;
}

.nav-right-inner {
    position: absolute;
    right: -300px;
    top: 0;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    width: 300px;
    background: #fff;
    transition: all .2s;
}

.section-right{
    height: 2.625em;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
}
.section-right > h2 {
    width: 140px;
    height: 20px;
    color: #101010;
    font: normal 500 1.8em/.9375 franklin-gothic-urw,helvetica,sans-serif;

    /* font-family: 'Franklin Gothic', Arial, Helvetica, sans-serif; */
    -webkit-font-smoothing: antialiased;

}
.push-nav .push-nav-main {
    list-style: none;
    margin: 0;
    padding: 0;
}
.push-nav .push-nav-main li > .burger-collapse-a {
    color: #4c4c4c;
    font-weight: 700;
}
.push-nav > .push-nav-main > li > a{
    color: #4c4c4c;
    text-transform: uppercase;
    font: normal 500 1em/.9375 franklin-gothic-urw,helvetica,sans-serif;
}
.list-group-item {
    border-radius: 0 !important;
    padding: 5px;
}
.burger-nav-btn{
    font-size: 28px;
}
.right-navbar-collapse > ul > li > a{
    text-transform: uppercase;
    color: #4c4c4c !important;
    font-size: .874em;
    /* font: normal 400 .875em/1,'franklin-gothic-urw',helvetica,sans-serif; */
}
.right-navbar-collapse > ul > li > a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 1030px){
    #hide {
        display: none;
    }
    .main-nav{
        height: auto;
    }
    #navbarNav {
        display: none;
    }

}
.footer-content {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.social-links  a {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }


@media (max-width: 991px){
    .hide-search {
        display: block !important;
    }
    .flex-nav{
        width: 100%;
        display: flex;
        justify-content:space-between;
    }
    .search-burger-contents {
        display: flex;

    }
    #nav-toggler {
        height: auto;
        border-radius: unset;
        font-size: 28px;
        border: none;
        color: black !important;
        background-color: #fff !important;
    }
}

